@import '../../variables';

.navbar {
  background-color: $primary-color;

  align-items: center;
  height: 44px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  a, button{
    color: #fff;
    padding: 0 10px 0 10px;
  }
  > div {
    width: 20%;
  }
}

.pagetitle {
  width: 60% !important;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 8px 8px 8px 10px;
}
