@import "../../variables";

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 28px 10px;
}

.titleEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 16px;
  > a {
    color: $primary-color;
    padding-left: 2px;
  }
}

.mylist {
  margin: 18px auto;
}

@media (max-width: 800px) {
  .mylist {
    margin-top: 0;
    > div:not(:last-child) {
      border-bottom: solid 1px #ccc;
    }
    > div {
      padding-bottom: 8px;
    }
  }
}
