@import '../../variables';



.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 16px;
  a {
    color: $primary-color;
    padding-left: 2px;
  };
}

.mylist {
  max-width: 1000px;
  margin: 18px auto;
}

.mylist > div {
  padding: 8px 8px 28px 10px;
}

@media (max-width: 800px) {
  .mylist {
    > div:not(:last-child) {
      border-bottom: solid 1px #ccc;
    }
    > div {
      padding-bottom: 8px;
    }
  }
}
