.hotSongs {
  font-size: 16px;
  padding: 12px 10px 0 10px;
  a {
    font-size: 14px;
    padding-left: 0;
  }
  > div {
    padding: 8px 0 8px 0;
  }
}

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.srollable {
  overflow: auto;
  white-space: nowrap;
  > div {
    display: inline-block;
    width: 27%;
    max-width: 200px;
    margin-right: 6px;
  }
}

.singerName {
  font-size: 12px;
}

.songName, .singerName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
