@import '../../variables';

.hotSongs {
  font-size: 16px;
  padding: 12px 10px 0 10px;
  a {
    font-size: 14px;
    padding-left: 0;
  }
  > div {
    padding: 8px 0 8px 0;
  }
}

.title {
  text-align: center;
  font-size: 18px;
  letter-spacing: 6px;
}

@media(max-width: 899px) {
  .srollable {
    overflow: auto;
    white-space: nowrap;
    > div {
      display: inline-block;
      width: 27%;
      max-width: 200px;
      margin-right: 6px;
    }
  }
}

@media(min-width: 900px) {
  .title {
    font-size: 24px;
    letter-spacing: 10px;
    margin: 12px 0;
  }
  .srollable {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 25%;
      padding: 0 16px 12px 0;
      box-sizing: border-box;
    }
  }
}

.singerName {
  font-size: 12px;
  color: $grey-500;
}

.songName, .singerName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media(min-width: 900px) {
  .songName, .singerName {
    padding: 6px 0 0; 
  }
}