@import '../../variables';
@import '../../base';

.tabs {
  display: flex;
  justify-content: center;
  > div {
    margin: 0 10px 0 10px;
  }
}

.activeTab {
  color: $primary-color;
}

.title {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.emptyList {
  text-align: center;
  a {
    color: $primary-color;
  }
}