@import "../../variables";

.title {
  font-size: 16px;
  margin-bottom: 5px;
}

.author {
  color: #808080;
  font-size: 12px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 80px;
  margin-right: 12px;
}

@media (max-width: 800px) {
  .image {
    width: 50px;
  }
}

.innerBox {
  display: flex;
  align-items: center;
}

.likeButton {
  i {
    font-size: 18px;
  }
}

.isActive {
  color: $primary-color;
}
