<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="留学生 华人 海外 海外学子 听音乐 免费 音乐台"/>
    <meta name="description" content="海外音悦台专注帮助海外华人听国内音乐"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#FF5722">
    <link rel="manifest" href="/manifestv2.json">
    <link rel="stylesheet" href="/build/index-{{hash}}.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
