<div id="main">{{{body}}}</div>
<script>
  var __SERVER__DATA__={{{data}}};
</script>
<script src="/javascripts/lrc.js"></script>
<script src="/build/vendor.js"></script>
<script src="/build/{{page}}.js"></script>
