.hotSongs {
  font-size: 16px;
  padding: 12px 10px 0 10px;
  a {
    font-size: 14px;
    padding-left: 0;
  }
  > div {
    padding: 8px 0 8px 0;
  }
  > div:not(:last-child) {
    border-bottom: solid 1px #ccc;
  }
}

.singerName {
  font-size: 12px;
}
