.search {
  background-color: #f4f4f4;
  input {
    display: block;
    width: calc(100% - 20px);
    margin: auto;
    border-radius: 3px;
    background: #fff;
    height: 36px;
    appearance: none;
    border: none;
  }
}

.searchForm {
  padding: 10px 0 10px 0;
}
