@import '../../variables';

.buttonsGroup {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  width: 100%;
  align-items: center;
  > div {
    width: 30%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: $primary-color;
    position: relative;
    i {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.loop1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
}

.button {
  border: 2px solid;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.buttonSmall {
  height: 36px;
  width: 36px;
  transition: color .25s ease-in-out;
}
