@import '../../variables';

.buttonsGroup {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  width: 100%;
  align-items: center;
  > div {
    width: 30%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  background-color: inherit;
  outline: inherit !important;
  background: none !important;
  color: $primary-color;
}

.buttonSmall {
  height: 40px;
  width: 40px;
  transition: color .25s ease-in-out;
  i {
    font-size: 18px;
  }
}

.loopOff {
  color: #ccc;
}
