body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

:global(.page-body) {
  margin-bottom: 53px;
}

button {
  background-color: inherit;
  outline: inherit;
  background: none;
  border: none;
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

:global(.main-body) {
  margin: auto;
  max-width: 1280px;
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
