body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

#main {
  min-height: 100vh;
}

button {
  background-color: inherit;
  outline: inherit;
  background: none;
  border: none;
}
