@import '../variables';

.bottomNav {
  z-index: 1;
  background-color: rgba(255,255,255,1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  a {
    padding: 6px 12px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    color: #999;
  }
  .active {
    color: $primary-color;
  }
  i {
    margin: auto;
    font-size: 20px;
  }
}
