@import "../variables";

.bottomNavRoot {
  width: 100%;
  background-color: $grey-100;
  z-index: 1;
  position: sticky;
  top: 0;
}
.bottomNav {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 600px;
  margin: auto;
  z-index: 1;
  width: 100%;

  .navLink {
    text-align: center;
    min-width: 80px;
    position: relative;
    transition: 0.2s all linear;
    a {
      padding: 12px;
      display: inline-block;
    }
  }

  @media (min-width: 899px) {
    .navLink {
      min-width: 120px;
    }
  }

  a {
    color: #999;
  }
  .navLink::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid $primary-color;
    transition: 0.2s all linear;
  }
  .active::after {
    width: 100%;
    left: 0;
  }
  .active ~ .navLink::after {
    left: 0;
  }
  .active {
    color: $primary-color;
  }
  i {
    margin: auto;
    font-size: 20px;
  }
}
